input {
    file {
        path => "/Users/keart/Documents/fakenews_clean_text.csv"
        start_position => "beginning"
		sincedb_path => "/dev/null"
    }
}

filter {
    csv {
		    columns => [ "uuid","author","published","site_url","country",
			"spam_score","replies_count","likes",
			"comments","shares","type", "cleaned_title_text"]
        separator => "," 
    } 

	
	filter {
  
}
	
filter {
	mutate {
		convert => {
		"spam_score" => "float"
		"replies_count" => "integer"
		"likes" => "integer"
		"comments" => "integer"
		"shares" => "integer"
}

date {
    match => [ "published", "MM\/dd\/yyyy HH:mm:ss" ]
  }
}
}


  date {
    match => [ "published", "MM\/dd\/yyyy HH:mm" ]
	target => "published"
  }
}

output {
stdout { codec => rubydebug }
    elasticsearch {
    hosts => "localhost"
    index => "index_with_date_again"
    }
}
